<article class="chat-message chat-message--assistant">
  <div class="flex flex-col gap-2.5 w-full">
    <app-skeleton height="1rem" width="80%" />
    <app-skeleton height="1rem" width="65%" />
    <app-skeleton height="1rem" width="55%" />
  </div>
</article>

<article class="chat-message chat-message--user">
  <app-skeleton height="2.5rem" width="180px" rounded="rounded-2xl" />
</article>

<article class="chat-message chat-message--assistant">
  <div class="flex flex-col gap-2.5 w-full">
    <app-skeleton height="1rem" width="90%" />
    <app-skeleton height="1rem" width="75%" />
    <app-skeleton height="1rem" width="82%" />
    <app-skeleton height="1rem" width="48%" />
  </div>
</article>

<article class="chat-message chat-message--user">
  <app-skeleton height="2.5rem" width="140px" rounded="rounded-2xl" />
</article>

<article class="chat-message chat-message--assistant">
  <div class="flex flex-col gap-2.5 w-full">
    <app-skeleton height="1rem" width="70%" />
    <app-skeleton height="1rem" width="58%" />
  </div>
</article>
