DATABASE_URL=postgresql+asyncpg://root:root@localhost:5433/postgres
SECRET_KEY=changeme
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4201
CORS_ALLOWED_ORIGIN_REGEX=
COOKIE_SECURE=false
